{{> head }}
    {{> navbar }}

    <div class="container">
        <div class="row">
            <div class="col-8">
                <h1>Arbol</h1>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta est quod, nemo expedita dolorem necessitatibus porro recusandae non vero cum, ratione sint? Maxime voluptatem officiis a, cum laborum corrupti sit.
                </p>
            </div>

            <div class="col-4">
                <img src="assets/img/arbol.png" alt="" class="img-thumbnail">
            </div>
        </div>
    </div>

{{> footer }}